body, div, a, img, header, h1, h2, h3, h4, h5, h6, ul, li, p {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	font-family: Arial;
	font-size: 15px;
	font-style: bold;
	margin: 0;
	padding: 0;
	background: #131313;
	/*background-image: url(../img/tech.jpg);*/ 
	background-repeat: no-repeat;
	background-size: 100%;
} 


body {
	text-align: center;
}

#headerer {
	font-size: 20px;
	float: left;
	width: 10%;
}

@media only screen and (max-width: 768px) {
	#header {min-height: 70px; width: 100%;}
	header {min-height: 70px;
		line-height: 70px;}
	.hdr a {
		padding-top: 15px;
		height: 55px;}
	.hdr {
		line-height: 70px;
		height: 70px;
	}

}

#headerer a {
	display: block;
	width: 100%;
	height: 45px;
}

#headerer a {
	color: #fff;
	text-decoration: none;
}


#header {
	float: right;
	list-style: none;
	width: 90%;
	height: 45px;
}

@media only screen and (max-width: 768px) {
	#headerer {
	display: none;
	}
	#header{float: left;
		width: 100%;}
}

.hdr {
	float: left;
	width: 25%;

}

.hdr a {
	font-family: Ubuntu;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	width: 100%;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #2a2a2a;

}

@media only screen and (max-width: 768px) {
	.hdr a {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 768px) {
	#ozv {
		display: none;
	}
}

.hdr a:hover {
	background: orange;
	border-bottom: 5px solid #ee8800;
	transition: all 0.2s ease-out;
	color: #131313;
}


header {
	color: #fff;
	height: 45px;
	background: #131313;
	width: 100%;
	z-index: 999;
	position: fixed;
	line-height: 45px;
	border-bottom: 5px solid #2a2a2a;
}


#banner {
	width: 100%;
	height: 225px;
	position: fixed;
	top: 50px;
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: center;
}


@media only screen and (max-width: 768px) {
	#banner {
		height: 150px;
		top: 70px;
	}
}

#banner div {
	position: relative;
	right: 172px;
	color: white;
	font-family: "American Captain";
	padding-top: 10px;
	font-size: 30px;
	animation: blinker 2s ease-out infinite; 
}

@keyframes blinker {  
  50% { opacity: 0; }
}


@media only screen and (max-width: 768px) {
	#banner div {
		position: relative;
		right: 110px;
		padding-top: 10px;
		font-size: 20px;
	}
}


#header li ul {
	list-style: none;
}

#header li ul li {
	background: #131313;
}

#header li ul {
	display: none;
}

#header li:hover > ul {
	display: block;
}

.cs {
	font-size: 9px;
	color: red;
}

@media only screen and (max-width: 768px) {
	#header li ul {
		position: absolute;
		width: 100%;
		left: 0;
	}
}

@font-face {
	font-family: 'American Captain';
	src: url(../fonts/American_Captain_.ttf);
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-B.ttf');
}