body, div, a, img, header, h1, h2, h3, h4, h5, h6, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	font-family: Arial;
	font-size: 15px;
	font-style: bold;
	margin: 0;
	padding: 0;
	background: #282B2F;
	/*background-image: url(../img/tech.jpg);*/ 
	background-repeat: no-repeat;
	background-size: 100%;
} 


body {
	text-align: center;
}

#headerer {
	font-size: 20px;
	float: left;
	width: 10%;
}

@media only screen and (max-width: 740px) {
	#headerer a {min-height: 55px; font-size: 0.5em; padding-top: 15px;}
	#header {min-height: 70px;}
	header {min-height: 70px;
		line-height: 70px;}
	.hdr a {
		padding-top: 15px;
		height: 55px;}
	.hdr {
		line-height: 70px;
		height: 70px;
	}

}

#headerer a {
	display: block;
	width: 100%;
	height: 45px;
}

#headerer a {
	color: #fff;
	text-decoration: none;
}


#header {
	float: right;
	list-style: none;
	width: 90%;
	height: 45px;
}

.hdr {
	float: left;
	width: 25%;

}

.hdr a {
	font-size: 18px;
	display: block;
	width: 100%;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #2a2a2a;

}

.hdr a:hover {
	background: orange;
	border-bottom: 5px solid #ee8800;
	transition: all 0.2s ease-out;
}


header {
	color: #fff;
	height: 45px;
	background: #131313;
	width: 100%;
	z-index: 999;
	position: fixed;
	line-height: 45px;
	border-bottom: 5px solid #2a2a2a;
}


#banner {
	width: 100%;
	height: 280px;
	position: fixed;
	top: 50px;
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: center;
}

#content {
	color: #fff;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: 330px;
	background: #131313;
	height: 1900px;
	z-index: 9;
}

@media only screen and (max-width: 740px) {
	#content {
		height: 3000px;
	}
}

.faq {
	display: block;
	float: left;
	width: 50%;
	height: 1500px;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 740px) {
	.faq {
		float: none;
		width: 100%;
		height: 1500px;
	}
	.faq:nth-child(2) {
		height: 840px;
	}
	.faq h3 {
		height: 70px;
		line-height: 70px;
	}
	.hdr a	{
		font-size: 0.8em;
	}
}

.faq h3 {
	display: block;
	color: #282B2F;
	font-size: 20px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: orange;
}

.faq:nth-child(2) h3 {
	background: #7900D0;
	color: orange;
}

.qqq {
	width: 100%;
	height: 130px;
	border-bottom: 2px solid #050505;
}

.qqq2 {
	width: 100%;
	height: 260px;
	border-bottom: 2px solid #050505;
}

.quest {
	padding-top: 30px;
	display: block;
	font-weight: bold;
	font-size: 18px;
}

.answ {
	display: block;
	padding-bottom: 30px;
}

#comp {
	display: block;
	width: 100%;
	height: 570px;
}

#comp h3 {
	display: inline-block;
	color: #282B2F;
	font-size: 20px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: orange;
}

#about {
	font-size: 20px;
	text-align: left;
	float: left;
	padding-top: 20px;
	padding-left: 40px;
}

#animes {
	overflow: hidden;
	position: absolute;
	top: 1200px;
	right: 0px;
	max-width: 177px;
	max-height: 300px;
}