body, div, a, img, header, h1, h2, h3, h4, h5, h6, ul, li, p {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	font-family: Arial;
	font-size: 15px;
	font-style: bold;
	margin: 0;
	padding: 0;
	background: #282B2F;
	/*background-image: url(../img/tech.jpg);*/ 
	background-repeat: no-repeat;
	background-size: 100%;
} 


body {
	text-align: center;
}

#headerer {
	font-size: 20px;
	float: left;
	width: 10%;
}

@media only screen and (max-width: 740px) {
	#header {min-height: 70px; width: 100%;}
	header {min-height: 70px;
		line-height: 70px;}
	.hdr a {
		padding-top: 15px;
		height: 55px;}
	.hdr {
		line-height: 70px;
		height: 70px;
	}

}

#headerer a {
	display: block;
	width: 100%;
	height: 45px;
}

#headerer a {
	color: #fff;
	text-decoration: none;
}


#header {
	float: right;
	list-style: none;
	width: 90%;
	height: 45px;
}

@media only screen and (max-width: 740px) {
	#headerer {
	display: none;
	}
	#header{float: left;
		width: 100%;}
}

.hdr {
	float: left;
	width: 25%;

}

.hdr a {
	font-size: 18px;
	display: block;
	width: 100%;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #2a2a2a;

}

@media only screen and (max-width: 740px) {
	.hdr a {
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 740px) {
	#ozv {
		display: none;
	}
}

.hdr a:hover {
	background: orange;
	border-bottom: 5px solid #ee8800;
	transition: all 0.2s ease-out;
}


header {
	color: #fff;
	height: 45px;
	background: #131313;
	width: 100%;
	z-index: 999;
	position: fixed;
	line-height: 45px;
	border-bottom: 5px solid #2a2a2a;
}


#banner {
	width: 100%;
	height: 280px;
	position: fixed;
	top: 50px;
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: center;
}


@media only screen and (max-width: 740px) {
	#banner {
		height: 150px;
		top: 70px;
	}
}

#content {
	font-size: 1.5em;
	color: #fff;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: 330px;
	background: #131313;
	height: 800px;
	z-index: 0;
}



#footer {
	text-align: center;
	width: 100%;
	height: 100px;
	background: orange;
	position: absolute;
	top: 1130px;
}

@media only screen and (max-width: 740px) {
	#content {
		top: 220px;
		font-size: 1.2em;
	}
	#footer {
		top: 980px;
	}
}

.rights {
	padding-top: 10px;
	background: orange;
	width: 50%;
	height: 100px;
	float: left;
	text-align: center;
}

.rights:nth-child(1) {
	background: #7900D0;
}

#copyright {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

#mail {
	color: #fff;
}

@media only screen and (max-width: 740px) {
	.rights {
		font-size: 10px;
	}
}

#text h2 {
	padding: 50px 0 40px 0;
}


#text p:nth-child(1) {
	padding: 40px 0 40px 0;
	font-size: 28px;
}

#krio {
	margin-top: 20px;
	font-size: 30px;
	color: orange;
	background: #7900D0;
-webkit-box-shadow: 0px 0px 10px 5px rgba(121,0,208,1);
-moz-box-shadow: 0px 0px 10px 5px rgba(121,0,208,1);
box-shadow: 0px 0px 10px 5px rgba(121,0,208,1);
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
z-index: 8;
}

#dub {
	line-height: 40px;
	font-size: 30px;
	color: #7900D0;
	background: orange;
-webkit-box-shadow: 0px 0px 10px 5px rgba(255,165,0,1);
-moz-box-shadow: 0px 0px 10px 5px rgba(255,165,0,1);
box-shadow: 0px 0px 10px 5px rgba(255,165,0,1);
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
z-index: 9;
}


@media only screen and (max-width: 740px) {
	#text {
		font-size: 20px;
	}
	#text p:nth-child(1) {
		font-size: 22px;
	}
	#text p {
		font-size: 18px;
	}
}