#content {
	color: #fff;
	margin: 0 auto;
	width: 100%;
	height: 60vh;
	position: relative;
	top: 275px;
	background: #131313;
	z-index: 9;
}

@media only screen and (max-width: 768px) {
	#content {
		top: 220px;
		height: 120vh;
	}
	#footer {
		top: 980px;
	}
	#banner {
		height: 150px;
		top: 70px;
	}
	.rights {
		font-size: 10px;
	}
}


.b {
	float: left;
	width: 25%;
	height: 60vh;
}

.box {
	border: 2px solid #2a2a2a;
	border-radius: 8%;
}

@media only screen and (max-width: 768px) {
	.b {
		width: 50%;
		height: 40vh;
	}
}


#box1 {
	background-image: url(../img/at.png);
	background-size: cover;
	background-position: center;
}

#box2 {
	background-image: url(../img/star.png);
	background-size: cover;
	background-position: center;
}

#box3 {
	background-image: url(../img/lady.png);
	background-size: cover;
	background-position: center;
}

#box4 {
	background-image: url(../img/train.png);
	background-size: cover;
	background-position: center;
}

.season {
	opacity: 0;
	z-index: 999;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 7%;
	position: relative;
	transition: all ease-out 0.3s;
}

.season:hover {
	opacity: 1;
	background: rgba(0,0,0,0.50);
}

.seas {
	color: white;
	position: relative;
	top: 150px;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid #000;
	background: rgba(0,0,0,0.75);
	line-height: 50px;
}

.seas a {
	font-size: 1.5em;
	display: block;
	width: 100%;
	height: 50px;
	color: white;
	text-decoration: none;
	transition: all ease-out 0.1s;
}

.seas a:hover {
	background: orange;
	color: #050505;
}

.seas a:active {
	transition: none;
	background: #cc6600;
}

@media only screen and (max-width: 768px) {
	.season {
		opacity: 1;
	}
}


@media only screen and (min-width: 1310px) {
	.box {
		margin: 10% auto;
		width: 320px;
		height: 400px;
	}
}

@media only screen and (max-width: 1310px) {
	.box {
		margin: 10% auto;
		width: 213px;
		height: 267px;
	}
	.seas {
		top: 100px;
	}
}

@media only screen and (max-width: 414px) {
	.box {
		margin: 10% auto;
		width: 160px;
		height: 200px;
	}
	.seas {
		top: 40px;
		height: 60px;
		line-height: 60px;
	}
	.seas a {
		font-size: 1em;
		height: 60px;
	}
}


@media only screen and (max-height: 480px) {
	.b {
		height: 50vh;
	}
}

/* Здесь начинается файл at7/index.html */


.series {
	display: block;
	width: 70%;
	max-width: 1000px;
	height: 150px;
	margin: 0 auto;
	background: #ccc;
	border-bottom: 5px solid #050505;
	text-decoration: none;
}


.preview {
	display: block;
	width: 150px;
	height: 150px;
	float: left;
	background: #000;
}

.stext {
	display: block;
	width: calc(100% - 150px);
	max-width: 850px;
	height: 150px;
	float: left;
	background: #2a2a2a;
	color: #fff;
	font-size: 16px;
}

.stext h4 {
	padding: 20px;
	float: left;
}

.stext p {
	padding: 0 20px;
	float: left;
	text-align: left;
}

.preview img {
	width: 150px;
	height: 150px;
}

.series a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 768px) {
	.stext {
		width: calc(100% - 100px);
		height: 100px;
		font-size: 10px;
	}
	.stext h4 {
		padding: 10px 0px 5px 10px;
		font-size: 1.1em;
	}
	.stext p {
		padding-left: 10px;
		font-size: 0.9em;
	}
	.series {
		width: 100%;
		max-width: 500px;
		height: 100px;
	}
	.preview {
		width: 100px;
		height: 100px;
	}
	.preview img {
		width: 100px;
		height: 100px;
	}
}